// Color
$primary: #1f8ac0;
$secondary: #104c91;
$dark: #000;
$light: #f4f4f4;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
);

// Buttons
$button-radius: 0;
$button-padding-x: 30px;
$button-padding-y: 12px;

$btn-border-radius: $button-radius;
$btn-border-radius-sm: $button-radius;
$btn-border-radius-lg: $button-radius;
$btn-padding-y: $button-padding-y;
$btn-padding-y-lg: $button-padding-y;
$btn-padding-y-sm: $button-padding-y;
$btn-padding-x: $button-padding-x;
$btn-padding-x-lg: $button-padding-x;
$btn-padding-x-sm: $button-padding-x;

$navbar-toggler-border-radius: 5px;

// Spacing
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 8,
  8: $spacer * 12,
) !default;

// Container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 980px,
  xxl: 1000px,
) !default;

@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

.header {
  position: relative;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.language {
  top: 10%;
  right: 5%;
  z-index: 1;
}

.title {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.social {
  text-align: center;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.about {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.profile {
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (max-width: 767px) {
  .social i {
    font-size: 30px;
  }

  .about-content {
    flex-direction: column;
  }
}
